@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/*Select cards*/

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.radio-custom .ant-radio-wrapper {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 4px;
}

.radio-custom .ant-radio-wrapper-checked {
  border: 2px solid blue;
  border-radius: 8px;
  padding: 4px;
}

.radio-custom .ant-radio {
  position: absolute;
  left: -9999px;
  overflow: hidden;
}

.radio-custom .ant-radio + * {
  display: block;
  padding: 0;
  overflow: hidden;
  border-radius: 8px;
  overflow: hidden;
}
.sidebar {
  display: block;
  width: 250px; /* Ajusta esto a la anchura que desees para el sidebar */
  height: 100vh; /* Esto hará que el sidebar tenga la misma altura que la ventana del navegador */
  transition: transform 0.3s ease-in-out;
}

.sidebar-open {
  transform: translateX(0);
}

.toggle-button {
  display: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

@media (max-width: 1024px) {
  .sidebar {
    transform: translateX(-100%);
  }

  .toggle-button {
    display: flex;
  }
}